html, body{
    height: 100%;
}
body{
    background-color: black;
    color: white;
}
.wrapper{
    width: 980px;
    margin: 0 auto;
    overflow: auto;
}
#diaporama1,#diaporama2, #diaporama3,#diaporama5, #diaporama6{
float: left;
border: solid 2px white;
}
