.carouselcontainer{
    position: relative;
    overflow: hidden;

    font-family: sans-serif;


}


.loaderCarousel{
    background: #000000 no-repeat center center;
}
.animationCarousel{
    overflow: hidden;
    position: relative;

}
.carousel{
    position: absolute;
    z-index: 1;
}
.fadeCarousel{
    left:0;
    top:0;
}
.loaderCarousel .carousel{
    display: none;
}
.splitCarousel{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

}
.splitCarousel>div{
    position: absolute;

    background-repeat: no-repeat;

}



.slideCarousel{
    position: absolute;
    height: 100%;
}
.vignetteCarousel{

    z-index: 5;
    overflow: auto;
    bottom: 0;

}
.vignetteCarousel>div,.slideVignetteCarousel>div{
    overflow: hidden;
    float: left;
    height: 50px;
    width: 50px;
    margin: 5px;
    border: 2px black solid;
    cursor: pointer;
}
.vignetteCarousel>div.select,.slideVignetteCarousel>div.select{

    border: 2px white solid;

}
.vignetteCarousel>div>img,.slideVignetteCarousel>div>img{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    -moz-opacity:0.3;
    -khtml-opacity: 0.3;
    opacity: 0.3;
}


.vignetteCarousel>div:hover>img,.vignetteCarousel>div.select>img,.slideVignetteCarousel>div.select>img{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
    cursor: pointer;
}
.selecteurCarousel, .legendCarousel{
    position: absolute;
    width: 100%;
    background: url(../images/bkgCarousel.png);
    text-align: center;
    z-index: 5;
    height: 32px;
}
.legendCarousel{
    top: 0;
    color: white;
    font-size: 1.1em;
    line-height: 32px;
}
.selecteurCarousel{

    bottom: 0;
}
.selecteurCarousel>span{
    color: white;
    font-size: 2em;
    margin: 0 5px;
    cursor: pointer;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
}
.selecteurCarousel>span:hover,.selecteurCarousel>span.select{
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity:1;
    -khtml-opacity: 1;
    opacity: 1;
    cursor: pointer;
}
.carouselcontainer .flechesCarousel{
    position: absolute;
    top:50%;
    width: 15px;
    height: 20px;
    background-image: url(../images/flecheCarousel.png);
    background-repeat: no-repeat;
    z-index: 5;
    cursor: pointer;
}
.carouselcontainer .flecheDroite{
    right:3%;
    background-position: top right;
}
.carouselcontainer .flecheGauche{
    left:3%;
    background-position: top left;
}
.carouselcontainer .flecheDroite:hover{

    background-position: bottom right;
}
.carouselcontainer .flecheGauche:hover{

    background-position: bottom left;
}
.loaderCarouselBar{
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    width: 100px;
    height: 2px;
    background-color: #3a3427;
    z-index: 10;
}

.loaderCarouselProgress{
    height: 2px;
     width: 0;
     background-color: #b2a266;
}
.infobulleCarousel{
    position:absolute;
    background:url(../images/bkgLoaderCarouselBar.png);
    padding:3px 7px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    color:black;
    text-align:center;
    z-index: 20;
    font-size: 9px;
}
.blocVignetteCarousel {

    overflow: hidden;

}
.slideVignetteCarousel {
    position: absolute;
}
.masqueCarousel{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    float: left;
}

.gaucheVignetteCarousel , .droiteVignetteCarousel{
    background-image: url(../images/flecheCarousel.png);
    background-repeat: no-repeat;
    z-index: 5;
    cursor: pointer;
    height: 20px;
    width: 15px;
    float: left;
}
.droiteVignetteCarousel{

    background-position: top right;
}
.gaucheVignetteCarousel{

    background-position: top left;
}
.droiteVignetteCarousel:hover{

    background-position: bottom right;
}
.gaucheVignetteCarousel:hover{

    background-position: bottom left;
}